### Exercice 2

In [12]:
import pandas as pd

1. Chargez deux datasets(csv) et affichez leur taille respective.

In [13]:
coffee_sales = pd.read_csv('./data/exercice_2/DatasetForCoffeeSales2.csv')
saudi_cities_geocodes = pd.read_csv('./data/exercice_2/saudi_cities_geocoding.csv')

print(f"Taille de coffee_sales: {coffee_sales.shape}\nTaille de saudi_cities_geocodes: {saudi_cities_geocodes.shape}")

Taille de coffee_sales: (730, 11)
Taille de saudi_cities_geocodes: (10, 3)

2. Effectuez une jointure sur une colonne commune.

In [14]:
merged_ds = pd.merge(coffee_sales, saudi_cities_geocodes, on='City')
print(merged_ds.dtypes)

Date                object
Customer_ID          int64
City                object
Category            object
Product             object
Unit Price           int64
Quantity             int64
Sales Amount         int64
Used_Discount         bool
Discount_Amount      int64
Final Sales          int64
Latitude           float64
Longitude          float64
dtype: object

3. Ajoutez de nouvelles colonnes à un dataset en fusionnant les informations d’un second

In [15]:
coffee_sales = pd.merge(coffee_sales, saudi_cities_geocodes, on='City')
coffee_sales['Geo_Position'] = list(zip(coffee_sales['Latitude'], coffee_sales['Longitude']))
coffee_sales.drop(columns=['Latitude', 'Longitude'], inplace=True)
print(coffee_sales.sample(5))

           Date  Customer_ID    City      Category     Product  Unit Price  \
467   4/12/2024           83    Abha  coffee beans  Costa Rica          35
580    8/3/2024            4    Hail  coffee beans  Costa Rica          35
570   7/24/2024           31  Medina  coffee beans   Colombian          40
710  12/11/2024           23  Khobar  coffee beans  Costa Rica          35
221   8/10/2023            8    Abha  coffee beans   Guatemala          35

     Quantity  Sales Amount  Used_Discount  Discount_Amount  Final Sales  \
467        18           630          False                0          630
580        28           980           True              196          784
570        24           960           True              192          768
710        17           595           True              119          476
221        23           805           True              161          644

           Geo_Position
467  (18.2465, 42.5117)
580  (27.5114, 41.7208)
570  (24.5247, 39.5692)
710  (26.2172, 50.1971)
221  (18.2465, 42.5117)